################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SaaW/.vs/SaaW/v15
/SaaW/SaaW/bin/Debug
/SaaW/SaaW/obj/Debug
/SaaW/SaaW.v12.suo
